.App {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 50px 10px;
  margin: 30px auto;
}

.App .container {
  border: 1px solid rgba(0, 0, 0, 0.2) ;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  padding: 20px;
}
.App footer{
  color: rgb(0, 0, 0, 0.5);
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-top:20px;
}
.App footer a{
    color: rgb(21, 166, 130);
    text-decoration: none;
}

