.Weather{
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  color:  rgba(63, 63, 63);
  padding: 16px;
  margin: 30px auto;
}


.Weather h1{
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-top:20px 0 0;
}
.Weather ul{
  margin: 0;
  padding:0;
}
.Weather li{
  list-style-type: none;
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}


/* main {
    padding: 30px 0;
  }
  .searchForm .city {
 
    
    
    font-size: 16px;
   
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(237, 237, 237, 0.4);
  }
  .searchForm .search {
    background-color: rgb(21, 166, 130);
    
  
    color: #fff;
  
    font-weight: bold;
    
  }

.current-weather {
    text-align: left;
  }
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
  }
.current-details {
    color: rgb(21, 166, 130, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
  }
  .current-details strong {
    color: rgb(21, 166, 130);
  }

  .weather-icon {
    position: relative;
    top: -10px;
    justify-content: center;
    
    
  }
  .currentTemp {
    font-size: 60px;
  }
  .currentTemp-unit{
    font-size: 30px;
    position: relative;
  } */
