main {
    padding: 30px 0;
  }
  .searchForm .city {
 
    padding: 10px 20px;
    
    font-size: 16px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(237, 237, 237, 0.4);
  }
  .searchForm .search {
    background-color: rgb(21, 166, 130);
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    
  }

.current-weather {
    text-align: left;
  }
.current-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;
  }
.current-details {
    color: rgb(21, 166, 130, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: none;
  }
  .current-details strong {
    color: rgb(21, 166, 130);
  }

  .weather-icon {
    position: relative;
    top: -10px;
    justify-content: center;
    
    
  }
  .currentTemp {
    font-size: 60px;
  }
  .currentTemp-unit{
    font-size: 30px;
    position: relative;
  }
